/* Override settings in Mazama_databrowser_base.css */

/* BODY ..................................................................... */

/* DATABROWSER WRAPPER .......................................................*/

#databrowser_wrapper {
  background-color: #fff;
  width: 100%;
  margin: auto;
}

/* DATABROWSER ...............................................................*/

/* .... CONTROLS .............................................................*/

/* .... .... ANALYSIS ........................................................*/

/* .... .... PLOT OPTIONS ....................................................*/

/* .... .... TOOLTIPS ........................................................*/

/* .... .... SPINNER .........................................................*/

/* .... PLOT_CONTAINER .......................................................*/

/* .... .... REQUEST MESSAGE .................................................*/

/* .... .... PLOT ............................................................*/

/* FOOTER ....................................................................*/

